### IDE / Editor ###
.idea/
*.iml
out/
gen/

# VSCode (추가, 혹시 쓸 경우 대비)
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Java ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

### Logs ###
*.log

### Gradle ###
.gradle/
build/
build/reports/

### Node (Frontend) ###
frontend/node_modules/
frontend/dist/
frontend/.cache/
frontend/public/
frontend/package-lock.json
frontend/package.json
frontend/nginx.conf
frontend/postcss.config.js
frontend/tailwind.config.js

### Python (AI Server) ###
.venv/
__pycache__/
*.pyc

### Sensitive Files ###
backend/.env

### Plugin / Tool Specific ###
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/httpRequests
.idea/caches/build_file_checksums.ser